.button, .offers__card .offers__card-button, .space-background__button {
  border-radius: 100px;
  line-height: 26.4px;
  font-size: 1.375rem;
  font-weight: 700;
}

.header {
  background: #000000;
}
.header__container {
  max-width: 1248px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 24px 91px 21px 81px;
  align-items: center;
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  .header__container {
    padding: 28px 50px 28px 30px;
  }
}
@media (max-width: 576px) {
  .header__container {
    padding: 5px 20px;
  }
}
.header__menu-icon {
  cursor: pointer;
  display: none;
}
@media (max-width: 576px) {
  .header__menu-icon {
    display: block;
  }
}
.header__links {
  align-items: center;
  display: flex;
  z-index: 10;
}
@media (max-width: 576px) {
  .header__links {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    background-color: #000000;
    transform: translateX(-10%);
    flex-direction: column;
    top: calc(100% + 5px);
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    display: none;
    right: 0;
  }
  .header__links--open {
    display: flex;
  }
}
.header__link {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 21.6px;
  position: relative;
  margin-right: 60px;
  font-weight: 700;
}
.header__link:last-child {
  margin-right: 0;
}
@media (max-width: 576px) {
  .header__link:last-child {
    margin-bottom: 0;
  }
}
.header__link:hover {
  background-image: linear-gradient(98.25deg, #ebff00 18.56%, #ff70d9 76.02%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header__link .cart-icon {
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 24px;
}
.header__link .cart-icon svg {
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}
.header__link .cart-icon .cart-icon__default {
  opacity: 1;
}
.header__link .cart-icon .cart-icon__default:hover {
  opacity: 0;
}
.header__link .cart-icon .cart-icon__gradient {
  opacity: 0;
}
.header__link .cart-icon .cart-icon__gradient:hover {
  opacity: 1;
}
@media (max-width: 576px) {
  .header__link {
    margin-bottom: 10px;
    margin-right: 0;
    font-size: 1rem;
  }
}
.header__logo img {
  max-height: 35px;
  max-width: 104px;
}
@media (max-width: 768px) {
  .header__logo img {
    max-height: 24px;
    max-width: 71px;
  }
}

.space-background {
  background-image: url("./assets/images/shadow.svg"), url("./assets/images/discover-the-vast-expanses-of-space-bg.png");
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  height: 490px;
  width: 100%;
}
@media (max-width: 992px) {
  .space-background {
    height: 420px;
  }
}
@media (max-width: 576px) {
  .space-background {
    background-image: url("./assets/images/shadow-mobile.svg"), url("./assets/images/discover-the-vast-expanses-of-space-bg.png");
    height: 452px;
  }
}
.space-background__container {
  padding: 91px 476px 119px 82px;
  max-width: 1248px;
  margin: 0 auto;
  color: #ffffff;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .space-background__container {
    padding: 100px 240px 100px 30px;
  }
}
@media (max-width: 576px) {
  .space-background__container {
    padding: 250px 34px 44px;
  }
}
@media (min-width: 577px) {
  .space-background__container {
    text-align: left;
  }
}
.space-background__title {
  line-height: 72px;
  font-size: 4.5rem;
  margin-bottom: 22px;
}
@media (max-width: 1200px) {
  .space-background__title {
    line-height: 48px;
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .space-background__title {
    line-height: 36px;
    font-size: 2.25rem;
  }
}
.space-background__title span {
  color: #ff70d9;
}
@media (max-width: 576px) {
  .space-background__title {
    margin-bottom: 17px;
  }
}
.space-background__description {
  line-height: 38.4px;
  font-size: 2rem;
  margin-bottom: 22px;
}
@media (max-width: 1200px) {
  .space-background__description {
    line-height: 26.4px;
    font-size: 1.375rem;
  }
}
@media (max-width: 576px) {
  .space-background__description {
    line-height: 19.2px;
    font-size: 1rem;
  }
}
.space-background__description span {
  color: #ebff00;
}
@media (max-width: 576px) {
  .space-background__description {
    margin-bottom: 17px;
  }
}
.space-background__button {
  transition: background-color 0.3s ease-in-out;
  background-color: #ebff00;
  color: #000000;
  padding: 14px 40px;
}
.space-background__button:hover {
  background-color: rgba(235, 255, 0, 0.6);
}
@media (max-width: 576px) {
  .space-background__button {
    line-height: 19.2px;
    padding: 7px 40px;
    font-size: 1rem;
  }
}
.space-background__image {
  transform: translateY(-50%);
  position: absolute;
  width: 327px;
  right: 85px;
  top: 50%;
}
@media (max-width: 992px) {
  .space-background__image {
    right: -100px;
  }
}
@media (max-width: 576px) {
  .space-background__image {
    right: 10px;
    top: 70px;
  }
}

.combined-sections {
  background: linear-gradient(to bottom left, #142650, #2e436f);
}

.offers__container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 58px 80px;
}
@media (max-width: 1200px) {
  .offers__container {
    padding: 55px 30px;
  }
}
@media (max-width: 576px) {
  .offers__container {
    padding: 50px 20px;
  }
}
.offers__title {
  color: #ffffff;
  margin-bottom: 40px;
  line-height: 38.4px;
  font-size: 2rem;
}
@media (max-width: 1200px) {
  .offers__title {
    margin-bottom: 30px;
    line-height: 28.8px;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .offers__title {
    line-height: 21.6px;
    font-size: 1.125rem;
  }
}
.offers__grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  display: grid;
}
@media (max-width: 1200px) {
  .offers__grid {
    grid-gap: 30px;
  }
}
@media (max-width: 576px) {
  .offers__grid {
    grid-template-columns: 1fr; /* Each card occupies the full width of one column */
  }
}
.offers__card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  color: #ffffff;
  height: 350px;
}
.offers__card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.offers__card:nth-child(1) {
  background-image: url("./assets/images/shadow.svg"), url("./assets/images/move-the-borders-of-reality-bg.png");
  background-position: center left, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}
.offers__card:nth-child(2) {
  background-image: url("./assets/images/shadow.svg"), url("./assets/images/space-is-not-just-stars-and-planets-bg.png");
  background-position: center left, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}
.offers__card:nth-child(3) {
  background-image: url("./assets/images/shadow.svg"), url("./assets/images/for-those-who-dream-of-stars-bg.png");
  background-position: center left, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}
.offers__card:nth-child(4) {
  background-image: url("./assets/images/shadow.svg"), url("./assets/images/fulfill-your-fantastic-dreams-bg.png");
  background-position: center left, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}
.offers__card .offers__card-title,
.offers__card .offers__card-description {
  margin-bottom: 22px;
}
.offers__card .offers__card-button {
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border: 2px solid #ebff00;
  background-color: transparent;
  color: #ebff00;
  padding: 12px 38px;
}
.offers__card .offers__card-button:hover {
  border-color: rgba(235, 255, 0, 0.6);
  color: rgba(235, 255, 0, 0.6);
}
@media (max-width: 992px) {
  .offers__card {
    grid-column: auto; /* Cancel previous grid-column settings for all cards */
  }
}
.offers__card:nth-child(1), .offers__card:nth-child(4) {
  grid-column: 1/-1;
}
.offers__card:nth-child(1) .offers__card-title, .offers__card:nth-child(4) .offers__card-title {
  font-size: 4.625rem;
  line-height: 74px;
}
.offers__card:nth-child(1) .offers__card-description, .offers__card:nth-child(4) .offers__card-description {
  font-size: 1.625rem;
  line-height: 31.2px;
}
.offers__card:nth-child(1) {
  padding: 35px 385px 37px 35px;
}
.offers__card:nth-child(4) {
  padding: 38px 400px 34px 35px;
}
.offers__card:nth-child(2), .offers__card:nth-child(3) {
  grid-column: span 1;
}
.offers__card:nth-child(2) .offers__card-title, .offers__card:nth-child(3) .offers__card-title {
  font-size: 2.875rem;
  line-height: 46px;
}
.offers__card:nth-child(2) .offers__card-description, .offers__card:nth-child(3) .offers__card-description {
  line-height: 28.8px;
  font-size: 1.5rem;
}
.offers__card:nth-child(2) {
  padding: 50px 160px 34px 35px;
}
.offers__card:nth-child(3) {
  padding: 50px 50px 34px 35px;
}
.offers__card:nth-child(3) .offers__card-title {
  max-width: 240px;
}
@media (max-width: 1200px) {
  .offers__card:nth-child(3) .offers__card-title {
    max-width: none;
  }
  .offers__card:nth-child(1), .offers__card:nth-child(2), .offers__card:nth-child(3), .offers__card:nth-child(4) {
    padding: 106px 27px 27px 25px;
  }
  .offers__card:nth-child(1) .offers__card-title, .offers__card:nth-child(2) .offers__card-title, .offers__card:nth-child(3) .offers__card-title, .offers__card:nth-child(4) .offers__card-title {
    font-size: 2.5rem;
    line-height: 40px;
  }
  .offers__card:nth-child(1) .offers__card-description, .offers__card:nth-child(2) .offers__card-description, .offers__card:nth-child(3) .offers__card-description, .offers__card:nth-child(4) .offers__card-description {
    line-height: 19.2px;
    font-size: 1rem;
  }
  .offers__card:nth-child(1) .offers__card-button, .offers__card:nth-child(2) .offers__card-button, .offers__card:nth-child(3) .offers__card-button, .offers__card:nth-child(4) .offers__card-button {
    line-height: 19.2px;
    padding: 5px 38px;
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .offers {
    /* Resetting the settings for the first and last card */
  }
  .offers__card:nth-child(1) .offers__card-description span {
    display: none;
  }
  .offers__card:nth-child(1), .offers__card:nth-child(4) {
    grid-column: span 1; /* Specify that they occupy only one column */
  }
}
@media (max-width: 768px) {
  .offers__card:nth-child(3) .offers__card-title {
    max-width: 240px;
  }
}
@media (max-width: 767px) {
  .offers__card:nth-child(1), .offers__card:nth-child(2), .offers__card:nth-child(3), .offers__card:nth-child(4) {
    padding-top: 48px;
  }
}
@media (max-width: 576px) {
  .offers__card:nth-child(1), .offers__card:nth-child(2), .offers__card:nth-child(3), .offers__card:nth-child(4) {
    padding-top: 88px;
  }
}

.space-journey__container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 4px 80px 60px;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .space-journey__container {
    padding: 0px 30px 53px;
  }
}
@media (max-width: 576px) {
  .space-journey__container {
    padding: 0px 20px 50px;
  }
}
.space-journey__title {
  margin-bottom: 17px;
  line-height: 38.4px;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .space-journey__title {
    line-height: 28.8px;
    margin-bottom: 13px;
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .space-journey__title {
    line-height: 21.6px;
    margin-bottom: 20px;
    font-size: 1.125rem;
  }
}
.space-journey__description {
  transition: all 0.3s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  margin-bottom: 17px;
  font-size: 1.25rem;
  line-height: 24px;
  overflow: hidden;
  font-weight: 700;
  line-clamp: 3;
  opacity: 60%;
}
@media (max-width: 768px) {
  .space-journey__description {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .space-journey__description {
    -webkit-line-clamp: 6;
  }
}
.space-journey__button {
  transition: color 0.3s ease-in-out;
  color: #ebff00;
  font-size: 1.25rem;
  line-height: 24px;
  cursor: pointer;
}
.space-journey__button:hover {
  color: rgba(235, 255, 0, 0.6);
}
.space-journey__button .button-text--more {
  display: inline-block;
}
.space-journey__button .button-text--less {
  display: none;
}
@media (max-width: 768px) {
  .space-journey__description, .space-journey__button {
    line-height: 19.2px;
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .space-journey__description, .space-journey__button {
    line-height: 16.8px;
    font-size: 0.875rem;
  }
}
.space-journey__toggle {
  display: none;
}
.space-journey__toggle:checked ~ .space-journey__description {
  -webkit-line-clamp: none;
  line-clamp: none;
  overflow: visible;
}
.space-journey__toggle:checked ~ .space-journey__button .button-text--more {
  display: none;
}
.space-journey__toggle:checked ~ .space-journey__button .button-text--less {
  display: inline-block;
}

/*# sourceMappingURL=app.css.map */
