$color-pink: #ff70d9;
$color-yellow: #ebff00;
$color-dark-blue: #304571;
$color-black: #000000;
$color-white: #ffffff;

@mixin max-width-container {
  max-width: 1248px;
  margin: 0 auto;
}

@mixin responsive-container-padding($padding-large, $padding-medium, $padding-small) {
  padding: $padding-large;

  @media (max-width: 992px) {
    padding: $padding-medium;
  }

  @media (max-width: 576px) {
    padding: $padding-small;
  }
}

@mixin responsive-font-size($font-large, $font-medium, $font-small, $line-large, $line-medium, $line-small) {
  line-height: $line-large;
  font-size: $font-large;

  @media (max-width: 1200px) {
    line-height: $line-medium;
    font-size: $font-medium;
  }

  @media (max-width: 576px) {
    line-height: $line-small;
    font-size: $font-small;
  }
}

.header {
  background: $color-black;

  &__container {
    @include max-width-container;
    justify-content: space-between;
    padding: 24px 91px 21px 81px;
    align-items: center;
    position: relative;
    display: flex;

    @media (max-width: 768px) {
      padding: 28px 50px 28px 30px;
    }

    @media (max-width: 576px) {
      padding: 5px 20px;
    }
  }

  &__menu-icon {
    cursor: pointer;
    display: none;

    @media (max-width: 576px) {
      display: block;
    }
  }

  &__links {
    align-items: center;
    display: flex;
    z-index: 10;

    @media (max-width: 576px) {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
      background-color: $color-black;
      transform: translateX(-10%);
      flex-direction: column;
      top: calc(100% + 5px);
      border-radius: 10px;
      padding: 10px 20px;
      position: absolute;
      text-align: center;
      display: none;
      right: 0;

      &--open {
        display: flex;
      }
    }
  }

  &__link {
    color: $color-white;
    font-size: 1.125rem;
    line-height: 21.6px;
    position: relative;
    margin-right: 60px;
    font-weight: 700;

    &:last-child {
      margin-right: 0;

      @media (max-width: 576px) {
        margin-bottom: 0;
      }
    }

    &:hover {
      background-image: linear-gradient(98.25deg, #ebff00 18.56%, #ff70d9 76.02%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    .cart-icon {
      position: relative;
      cursor: pointer;
      height: 20px;
      width: 24px;

      svg {
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
      }

      .cart-icon__default {
        opacity: 1;

        &:hover {
          opacity: 0;
        }
      }

      .cart-icon__gradient {
        opacity: 0;

        &:hover {
          opacity: 1;
        }
      }
    }

    @media (max-width: 576px) {
      margin-bottom: 10px;
      margin-right: 0;
      font-size: 1rem;
    }
  }

  &__logo img {
    max-height: 35px;
    max-width: 104px;

    @media (max-width: 768px) {
      max-height: 24px;
      max-width: 71px;
    }
  }
}

.space-background {
  background-image: url("./assets/images/discover-the-vast-expanses-of-space-shadow.svg"), url("./assets/images/discover-the-vast-expanses-of-space-bg.png");
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  height: 490px;
  width: 100%;

  @media (max-width: 992px) {
    height: 420px;
  }

  @media (max-width: 576px) {
    background-image: url("./assets/images/discover-the-vast-expanses-of-space-shadow-mobile.svg"), url("./assets/images/discover-the-vast-expanses-of-space-bg.png");
    height: 452px;
  }

  &__container {
    @include responsive-container-padding(91px 476px 119px 82px, 100px 240px 100px 30px, 250px 34px 44px);
    @include max-width-container;
    color: $color-white;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;

    @media (min-width: 577px) {
      text-align: left;
    }
  }

  &__title {
    @include responsive-font-size(4.5rem, 3rem, 2.25rem, 72px, 48px, 36px);
    margin-bottom: 22px;

    span {
      color: $color-pink;
    }

    @media (max-width: 576px) {
      margin-bottom: 17px;
    }
  }

  &__description {
    @include responsive-font-size(2rem, 1.375rem, 1rem, 38.4px, 26.4px, 19.2px);
    margin-bottom: 22px;

    span {
      color: $color-yellow;
    }

    @media (max-width: 576px) {
      margin-bottom: 17px;
    }
  }

  &__button {
    transition: background-color 0.3s ease-in-out;
    background-color: $color-yellow;
    border-radius: 100px;
    color: $color-black;
    font-size: 1.375rem;
    line-height: 26.4px;
    padding: 14px 40px;
    font-weight: 700;

    &:hover {
      background-color: #ebff0099;
    }

    @media (max-width: 576px) {
      line-height: 19.2px;
      padding: 7px 40px;
      font-size: 1rem;
    }
  }

  &__image {
    transform: translateY(-50%);
    position: absolute;
    width: 327px;
    right: 85px;
    top: 50%;

    @media (max-width: 992px) {
      right: -100px;
    }

    @media (max-width: 576px) {
      right: 10px;
      top: 70px;
    }
  }
}

.offers {
  background-color: $color-dark-blue;

  &__container {
    @include max-width-container;
    padding: 58px 80px;
  }

  &__title {
    color: $color-white;
    margin-bottom: 40px;
    line-height: 38.4px;
    font-size: 2rem;
  }

  &__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    display: grid;
  }

  &__card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    color: $color-white;
    height: 350px;

    &:hover {
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
  }

  &__card:nth-child(1) {
    background-image: url("./assets/images/discover-the-vast-expanses-of-space-shadow.svg"), url("./assets/images/move-the-borders-of-reality-bg.png");
    background-position: center left, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    padding: 35px 385px 37px 35px;
    grid-column: 1 / -1;

    .offers__card-title {
      margin-bottom: 22px;
      font-size: 4.625rem;
      line-height: 74px;
    }

    .offers__card-description {
      margin-bottom: 22px;
      font-size: 1.625rem;
      line-height: 31.2px;
    }

    .offers__card-button {
      transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
      border: 2px solid $color-yellow;
      background-color: transparent;
      color: $color-yellow;
      border-radius: 100px;
      line-height: 26.4px;
      font-size: 1.375rem;
      padding: 12px 38px;
      font-weight: 700;

      &:hover {
        border-color: #ebff0099;
        color: #ebff0099;
      }
    }
  }

  &__card:nth-child(2) {
    background-image: url("./assets/images/discover-the-vast-expanses-of-space-shadow.svg"), url("./assets/images/space-is-not-just-stars-and-planets-bg.png");
    background-position: center left, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    padding: 50px 160px 34px 35px;
    grid-column: span 1;

    .offers__card-title {
      margin-bottom: 22px;
      font-size: 2.875rem;
      line-height: 46px;
    }

    .offers__card-description {
      margin-bottom: 22px;
      line-height: 28.8px;
      font-size: 1.5rem;
    }

    .offers__card-button {
      transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
      border: 2px solid $color-yellow;
      background-color: transparent;
      color: $color-yellow;
      border-radius: 100px;
      line-height: 26.4px;
      font-size: 1.375rem;
      padding: 12px 38px;
      font-weight: 700;

      &:hover {
        border-color: #ebff0099;
        color: #ebff0099;
      }
    }
  }

  &__card:nth-child(3) {
    background-image: url("./assets/images/discover-the-vast-expanses-of-space-shadow.svg"), url("./assets/images/for-those-who-dream-of-stars-bg.png");
    background-position: center left, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    padding: 50px 50px 34px 35px;
    grid-column: span 1;

    .offers__card-title {
      margin-bottom: 22px;
      font-size: 2.875rem;
      line-height: 46px;
      max-width: 240px;
    }

    .offers__card-description {
      margin-bottom: 22px;
      line-height: 28.8px;
      font-size: 1.5rem;
    }

    .offers__card-button {
      transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
      border: 2px solid $color-yellow;
      background-color: transparent;
      color: $color-yellow;
      border-radius: 100px;
      line-height: 26.4px;
      font-size: 1.375rem;
      padding: 12px 38px;
      font-weight: 700;

      &:hover {
        border-color: #ebff0099;
        color: #ebff0099;
      }
    }
  }

  &__card:nth-child(4) {
    background-image: url("./assets/images/discover-the-vast-expanses-of-space-shadow.svg"), url("./assets/images/fulfill-your-fantastic-dreams-bg.png");
    background-position: center left, center center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    padding: 38px 400px 34px 35px;
    grid-column: 1 / -1;

    .offers__card-title {
      margin-bottom: 22px;
      font-size: 4.625rem;
      line-height: 74px;
    }

    .offers__card-description {
      margin-bottom: 22px;
      font-size: 1.625rem;
      line-height: 31.2px;
    }

    .offers__card-button {
      transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
      border: 2px solid $color-yellow;
      background-color: transparent;
      color: $color-yellow;
      border-radius: 100px;
      line-height: 26.4px;
      font-size: 1.375rem;
      padding: 12px 38px;
      font-weight: 700;

      &:hover {
        border-color: #ebff0099;
        color: #ebff0099;
      }
    }
  }

  @media (max-width: 1200px) {
    &__container {
      padding: 55px 30px;
    }

    &__title {
      margin-bottom: 30px;
      line-height: 28.8px;
      font-size: 1.5rem;
    }

    &__grid {
      grid-gap: 30px;
    }

    &__card:nth-child(1),
    &__card:nth-child(2),
    &__card:nth-child(3),
    &__card:nth-child(4) {
      padding: 106px 27px 27px 25px;

      .offers__card-title {
        font-size: 2.5rem;
        line-height: 40px;
      }

      .offers__card-description {
        line-height: 19.2px;
        font-size: 1rem;
      }

      .offers__card-button {
        line-height: 19.2px;
        padding: 5px 38px;
        font-size: 1rem;
      }
    }

    &__card:nth-child(3) .offers__card-title {
      max-width: none;
    }
  }

  @media (max-width: 992px) {
    &__card {
      grid-column: auto; /* Cancel previous grid-column settings for all cards */
    }

    &__card:nth-child(1) .offers__card-description span {
      display: none;
    }

    /* Resetting the settings for the first and last card */
    &__card:nth-child(1),
    &__card:nth-child(4) {
      grid-column: span 1; /* Specify that they occupy only one column */
    }
  }

  @media (max-width: 768px) {
    &__title {
      line-height: 21.6px;
      font-size: 1.125rem;
    }

    &__card:nth-child(3) .offers__card-title {
      max-width: 240px;
    }
  }

  @media (max-width: 767px) {
    &__card:nth-child(1),
    &__card:nth-child(2),
    &__card:nth-child(3),
    &__card:nth-child(4) {
      padding-top: 48px;
    }
  }

  @media (max-width: 576px) {
    &__container {
      padding: 50px 20px;
    }

    &__grid {
      grid-template-columns: 1fr; /* Each card occupies the full width of one column */
    }

    &__card:nth-child(1),
    &__card:nth-child(2),
    &__card:nth-child(3),
    &__card:nth-child(4) {
      padding-top: 88px;
    }
  }
}
